<%- include("partials/toggleDropDown") %>

<div class="greeting">
  <% if(!folderName) { %>
  <h2>Hi <%= user.name%>!</h2>
  <% } else {%>
  <h2><%= folderName %></h2>
  <% } %>
  <p>Upload files to your account and access them from anywhere.</p>
</div>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Added</th>
        <th><img src="/icons/dots-vertical.svg" /></th>
      </tr>
    </thead>
    <tbody>
      <% if (files.length === 0 && folders.length === 0) { %>
       <tr>
        <td colspan="4">No files uploaded yet.</td>
      </tr>
      <% } %>
      <% if (folders.length > 0) { %> <%- include('folders', { folders: folders
      }) %> <% } %> <% if (files.length > 0) { %> <%- include('files', { index:
      folders.length, files: files }) %> <% } %>

    </tbody>
  </table>
</div>
