<%- include('partials/toggleDropDown') %>

<div class="greeting">
  <h2>Hi <%= user.name%>!</h2>
  <p>Upload files to your account and access them from anywhere.</p>
</div>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Added</th>
        <th><img src="/icons/dots-vertical.svg" /></th>
      </tr>
    </thead>
    <tbody>
      <% if (files.length > 0) { files.forEach((file, idx) => { %>
      <tr>
        <td>
          <a href="<%= file.url %>" target="_blank"><%= file.name %></a>
        </td>
        <td>
          <% const formatFileSize = (size) => { if (size >= 1e9) return (size /
          1e9).toFixed(2) + " GB"; if (size >= 1e6) return (size /
          1e6).toFixed(2) + " MB"; if (size >= 1e3) return (size /
          1e3).toFixed(2) + " KB"; return size + " bytes"; }; %> <%=
          formatFileSize(file.size) %>
        </td>
        <td><%= new Date(file.createdAt).toLocaleDateString("en-GB") %></td>
        <td class="dropdown">
          <img src="/icons/dots-vertical.svg" onclick="dropdown(<%= idx %>)" />
          <div class="dropdown-content">
            <form
              action="delete/<%= file.id %>"
              method="POST"
              onsubmit="return confirm ('Are you sure you want to delete <%= file.name %>')"
            >
              <button type="submit">Delete</button>
            </form>
            <hr />
            <a href="<%= file.url %>" download>
              <button>Download</button>
            </a>
          </div>
        </td>
        <% })} else { %>
        <td colspan="4">No files uploaded yet.</td>
      </tr>
      <%} %>
    </tbody>
  </table>
</div>
